@font-face {
    font-family: myFont;
    src: url(../Resources/Font/Maven_Pro/MavenPro-VariableFont_wght.ttf);
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding, 45px);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}
::after, ::before{
    box-sizing: border-box;
}

body {
    background: #162238;
}
img {
    max-width: 100%;
}
                            /* NAVBAR */
                         /**************/
.nav-container {
    background-color: rgba(22,34,57,0.95);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    height: 92px;
    align-items: center;
    z-index: 2;
}
                 /* TOGGLED */
              /*************** */
.nav-container-height {
    height: 55px;
}
.ashara-cont {
    display: inline-block;
    max-width: 100%;
    width: 650px;
    padding-left: 13px;
    height: 31px;
    margin-top: 26px;
    font-size: 38px;
    font-weight: 800;
    letter-spacing: .8px;
}
.logo1 {
    width: 41px;
    margin-right: 4px;
    transform: translate(3px, 4px);
}
span {
    color: #4070f4;
}
.ashara-cont > p {
    color: #fff;
}
.nav-cont {
    max-width: 100%;
    float: right;
    padding-right: 66px;
    margin-top: 30px;
}
.nav-cont li {
    display: inline-block;
    position: relative;
    margin-left: 15px;
}
.nav-cont li a, .selected {
    padding: 10px 22px;
    font-size: 15px;
    letter-spacing: 1.5px;
    font-weight: 700;
    color: #fff;
    border: 2px solid transparent;
    transition: all 0.5s;
    text-decoration: none;
    cursor: pointer;
}
                 /* CLASSES TO BE TOGGLED
                ***********************/
.nav-cont-open {
    display: block !important;
}
.arrow {
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 1px;
    margin-bottom: 1px;
}
.caret {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: 0.5s;
}
                             /* DROPDOWN STYLES.... */
.menu {
    background-color:rgba(22,34,57,0.95);
    color: #fff;
    position: absolute;
    top: 43px;
    opacity: 0;
    border: none;
    transition: opacity 0.5s;
}
.menu li {
    padding-bottom: 26px;
    cursor: pointer;
}
.menu li:first-child {
    padding-top: 9px;
}
.menu li a {
    margin: 0 auto;
    padding: 6px 17px;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: normal;
    border: 1px solid transparent;
}
                    /* TO BE TOGGLED
                    *****************/
.menu-open {
    opacity: 1;
}
                            /* dropdown hover..... */
.dropdown:hover > .select {
    background-color: #4070f4;
    transition: 0.5s;
}
.dropdown:hover > .select > .txt > .caret {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transition: 0.5s;
}
.dropdown:hover > .menu {
    opacity: 1;
}
.txt:hover {
    border: 2px solid #4070f4;
}
.option-txt:hover {
    color: #4070f4;
}
                         /* ......dropdown hover end */

                         /*.....DROPDOWN STYLES END */

                        /* HUMBURGER NAVBARS........START
                        **********************************/
.hum-navbars {
    display: none;
    position: absolute;
    width: 22px;
    height: 15px;
    top: 1rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
.hum-navbars .bar {
    height: 2px;
    background-color: #fff;
    border-radius: 15px;
}
                /* CLASSES TO BE TOGGLED
                ***********************/
.hum-navbars-close {
    display: none !important;
}
                        /* ......END  HUMBURGER NAVBARS
                        **********************************/
                     /* CLOSE SIGN.....START*/
                  /****************************/
.close-sign {
    display: none;
    position: absolute;
    top: 0.7rem;
    right: 1rem;
    width: 32px;
    height: 32px;
    cursor: pointer;
}
.close-sign:before, .close-sign:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 23px;
    width: 3px;
    background-color: rgb(214, 65, 65);
}
.close-sign:before {
    transform: rotate(45deg);
}
.close-sign:after {
    transform: rotate(-45deg);
}
            /* CLASSES TO BE TOGGLED
            ***********************/
.close-sign-open {
    display: block;
}
                /* ....... END CLOSE SIGN*/
                /****************************/
ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
                            /* SECTIONS */
                          /****************/
.sec-1 {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    max-width: 100%;
    height: 725px;
    background-image: url(../Resources/Images/place-holder.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sec-1 > h3 {
    color: #fff;
    margin: 0 auto;
    font-size: 40px;
}
.services {
    color: #fff;
    text-align: center;
    font-weight: 800;
    font-size: 25px;
    padding-top: 51px;
}
                                 /* SWIPER STARTS.......
                              *************************/
.slide-container {
    max-width: 1264px;
    width: 100%;
    padding: 40px 0;
}
.slide-content {
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}
.card {
    border-radius: 25px;
    background-color: #fff;
    user-select: none;
}
.image-content, .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #4070f4;
    border-radius: 25px 25px 0px 25px;
}
.overlay::before, .overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #4070f4;
}
.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: #fff;
}
.card-image {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #fff;
    padding: 3px;
}
.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070f4;
}
.name {
    font-size: 18px;
    font-weight: 800;
    color: #333;
}
.description {
    font-size: 14px;
    color: #707070;
    text-align: center;
    padding-top: 10px;
}
.swiper-navBtn {
    color: #6e93f7;
    transition: color 0.3s ease;
}
.swiper-navBtn:hover {
    color: #4070f4;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 40px;
}
.swiper-button-next {
    right: 0;
}
.swiper-button-prev {
    left: 0;
}
.swiper-pagination-bullet {
    background-color: #6e93f7;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    background-color: #4070f4;
}
                                /* SWIPER ENDS
                               ****************/
                        /* FOOTER START
                        *****************/
footer {
    max-width: 100%;
    /* height: 275px; */
    height: auto;
    background-color: #ccc;
    text-align: center;
}
.address-section {
    display: flex;
    display: -ms-flexbox;
    max-width: 100%;
    justify-content: space-evenly;
}
.contact-container, .address-container, .follow-container {
    padding-top: 35px;
    line-height: 21px;
}
.follow-us, .contact-us, .address {
    font-weight: 800;
    padding-bottom: 12px;
}
.social-medias {
    width: 170px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.social-medias a {
    text-decoration: none;
}
.social-logo {
    width: 30px;
    transition: transform 0.4s;
}
.social-logo:hover {
    transform: scale(1.2);
}
.copyright {
    padding: 100px 0 0;
}
.copyright > span {
    font-size: 18px;
    color: #000;
}
.copyright-logo {
    transform: translateY(10%);
    width: 12px;
}
.kalid-temp {
    font-family: myFont;
    font-weight: 600;
    color: #707070;
    padding: 30px;
}
                      /* SMARTPHONES
                      ****************/
@media screen and (max-width: 480px) {
    .nav-container {
        height: auto;
    }
    .ashara-cont {
        width: 307px;
        padding-left: 7px;
        height: 31px;
        margin-top: 12px;
        font-size: 14px;
    }
    .logo1 {
        width: 16px;
        transform: translate(3px, 4px);
    }
                /* HUMBURGER NAV IN MEDIA QUERY
              ************************************/
    .hum-navbars {
        display: flex;
    }
    .nav-cont {
        display: none;
        float: none;
        width: 103px;
        margin: 10px auto;
        padding-right: 0px;
        text-align: center;
    }
    .nav-cont li {
        display: block;
        margin-left: 0px;
    }
    .nav-cont li a, .selected {
        padding: 10px 0px;
        font-size: 10px;
        border: none;
        letter-spacing: 1.3px;
    }
    .nav-cont li:hover {
        background-color: #4070f4;
    }
    .txt:hover {
        border: none;
    }
    .arrow {
        padding: 2px;
    }
    .caret {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    .dropdown:hover > .select > .txt > .caret {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transition: 0.5s;
    }
    .menu {
        width: 100px;
        top: 0px;
        right: -100px;
        border: 1px solid #4070f4;
    }
    .menu li {
        padding-bottom: 13px;
    }
    .menu li:first-child {
        padding-top: 2px;
    }
    .menu li a {
        padding: 5px 7px;
        font-weight: 700;
        font-size: 10px;
    }
    .menu li:hover {
        background-color: rgba(22,34,57,0.95);
    }

    .sec-1 {
        height: 400px;

    }
    .sec-1 > h3 {
        font-size: 23px;
    }
    .sec-2, .sec-3 {
        height: auto;
    }
    .services {
        font-size: 18px;
        padding-top: 27px;
    }

    footer {
        height: auto;
    }
    .address-section {
        flex-direction: column;
    }
    .follow-us, .contact-us, .address {
        font-size: 13px;
    }
    .contact-container p, .address-container p {
        font-size: 13px;
    }
    .copyright {
        padding: 40px 0 0;
    }
    .copyright > span {
        font-size: 13px;
    }
    .copyright-logo {
        width: 9px;
    }
    .kalid-temp {
        margin: 0 auto;
        width: 260px;
        font-size: 13px;
        padding: 15px 0;
    }
}
                                /* TABLETS AND IPADS
                                **********************/
@media screen and (min-width: 481px) and (max-width: 768px) {
    .nav-container {
        height: auto;
    }
    .ashara-cont {
        width: 307px;
        padding-left: 7px;
        height: 31px;
        margin-top: 12px;
        font-size: 17px;
    }
    .logo1 {
        width: 20px;
        transform: translate(3px, 4px);
    }
                /* HUMBURGER NAV IN MEDIA QUERY
                ************************************/
    .hum-navbars {
        display: flex;
    }
    .nav-cont {
        display: none;
        float: none;
        width: 103px;
        margin: 10px auto;
        padding-right: 0px;
        text-align: center;
    }
    .nav-cont li {
        display: block;
        margin-left: 0px;
    }
    .nav-cont li a, .selected {
        padding: 8px 12px;
        font-size: 11px;
        border: none;
        letter-spacing: 1.3px;
    }
    .nav-cont li:hover {
        background-color: #4070f4;
    }
    .txt:hover {
        border: none;
    }
    .arrow {
        padding: 2px;
    }
    .caret {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    .dropdown:hover > .select > .txt > .caret {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transition: 0.5s;
    }
    .menu {
        width: 100px;
        top: 0px;
        right: -100px;
        border: 1px solid #4070f4;
    }
    .menu li {
        padding-bottom: 13px;
    }
    .menu li:first-child {
        padding-top: 2px;
    }
    .menu li a {
        padding: 5px 7px;
        font-weight: 700;
        font-size: 10px;
    }
    .menu li:hover {
        background-color: rgba(22,34,57,0.95);
    }
    .sec-1 {
        height: 540px;
    }
    .sec-1 > h3 {
        font-size: 25px;
    }
    .services {
        font-size: 18px;
        padding-top: 27px;
    }
    .address-section {
        flex-direction: column;
    }
    .follow-us, .contact-us, .address {
        font-size: 14px;
    }
    .contact-container p, .address-container p {
        font-size: 14px;
    }
    .copyright {
        padding: 40px 0 0;
    }
    .copyright > span {
        font-size: 13px;
    }
    .copyright-logo {
        width: 9px;
    }
    .kalid-temp {
        margin: 0 auto;
        font-size: 13px;
        padding: 20px 0;
    }
}
                         /* SMALL SCREENS (CUSTOM BREAK POINT)
                         **************************************/
@media screen and (min-width: 769px) and (max-width: 940px)
{
    .ashara-cont {
        width: 400px;
        padding-left: 13px;
        height: 31px;
        margin-top: 28px;
        font-size: 23px;
    }
    .logo1 {
        width: 23px;
        transform: translate(3px, 5px);
    }
    .nav-cont {
        float: right;
        padding-right: 8px;
        margin-top: 30px
    }
    .nav-cont li {
        display: inline-block;
        position: relative;
        margin-left: 0;
    }
    .nav-cont li a, .selected {
        padding: 8px 21px;
        font-size: 11px;
        letter-spacing: 1.5px;
        border: 2px solid transparent;
    }
    .menu li a {
        padding: 6px 17px;
        font-weight: normal;
        font-size: 11px;
    }
    .arrow {
        padding: 2px;
    }
}
                        /* SMALL LAPTOTPS(CUSTOM BREAK POINT)
                        *************************************/
@media screen and (min-width: 941px) and (max-width: 1024px) {
    .nav-container {
        height: 87px;
    }
    .ashara-cont {
        width: 450px;
        padding-left: 13px;
        height: 31px;
        margin-top: 26px;
        font-size: 27px;
    }
    .logo1 {
        width: 27px;
        transform: translate(3px, 4px);
    }
    .nav-cont {
        float: right;
        padding-right: 26px;
        margin-top: 30px;
    }
    .nav-cont li {
        display: inline-block;
        position: relative;
        margin-left: 0;
    }
    .nav-cont li a, .selected {
        padding: 8px 22px;
        font-size: 12px;
        letter-spacing: 1.5px;
        border: 2px solid transparent;
    }
    .arrow {
        padding: 2px;
    }
    .caret {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transition: 0.5s;
    }
                                  /* DROPDOWN STYLES.... */
    .menu {
        top: 43px;
        border: none;
    }
    .menu li {
        padding-bottom: 26px;
    }
    .menu li:first-child {
        padding-top: 9px;
    }
    .menu li a {
        padding: 6px 17px;
        font-weight: normal;
        font-size: 12px;
    }
                          /* dropdown hover..... */
    .dropdown:hover > .select {
        background-color: #4070f4;
        transition: 0.5s;
    }
    .dropdown:hover > .select > .txt > .caret {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        transition: 0.5s;
    }
    .dropdown:hover > .menu {
        opacity: 1;
    }
    .txt:hover {
        border: 2px solid #4070f4;
    }
    .option-txt:hover {
        color: #4070f4;
    }
    .sec-1 {
        height: 545px;
    }
    .services {
        font-size: 18px;
        padding-top: 27px;
    }
    footer {
        height: 290px;
    }
    .copyright {
        padding: 63px 0 0;
    }
    .copyright > span {
        font-size: 15px;
    }
    .copyright-logo {
        width: 9px;
    }
    .kalid-temp {
        margin: 15px auto;
        font-size: 14px;
    }
}

                           /* MEDIUM SCREENS (CUSTOM BREAK POINT) */
                        /********************************************/
@media screen and (min-width: 1025px) and (max-width: 1400px) {
    .ashara-cont {
        width: 495px;
        padding-left: 13px;
        height: 31px;
        margin-top: 26px;
        font-size: 30px;
    }
    .logo1 {
        width: 29px;
        transform: translate(3px, 4px);
    }
    .nav-cont {
        float: right;
        padding-right: 26px;
        margin-top: 30px;
    }
    .sec-1 {
        height: 700px;
    }
}